{% extends "base.html" %}
{% block title %}Exemptions{% endblock %}
{% block content %}
  <h1 class="mb-3">User-Set Exemptions</h1>

  <form method="post" action="{{ url_for('add_exemption') }}" class="mb-4">
    <div class="input-group">
      <input
        type="text"
        name="exemption"
        class="form-control"
        placeholder="Collection Title"
      >
      <button class="btn btn-success">Add Exemption</button>
    </div>
  </form>

  <table class="table table-dark table-striped table-sm">
    <thead>
      <tr><th>Title</th><th>Action</th></tr>
    </thead>
    <tbody>
      {% for title in exemptions %}
      <tr>
        <td>{{ title }}</td>
        <td>
          <form method="post" action="{{ url_for('delete_exemption_user') }}">
            <input type="hidden" name="title" value="{{ title }}">
            <button class="btn btn-sm btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
